@charset "UTF-8";

:root {
    --font-Inter: "Inter", sans-serif;
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Poppins: "Poppins", sans-serif;

    --cor-01:#F2E2CE;
    --cor-02:#D2AD81;
    --cor-03:#BF9169;
    --cor-04:#A62F03;
    --cor-05:#401201;
}

/* configuração para todo menu */
#abrirMenu,#fecharMenu {
    display: none;
    font-size: 2.2rem;
}
header {
    width: 100%;
    position: fixed;
}

/* Estilo da Navbar */

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    z-index: 5;
}

.navbar .nav-logo {
    font-family: var(--font-Montserrat);
    font-weight: 700;
    font-size: 2.8rem;
    padding: 8px;
    color: #000;
}

.navbar .nav-menu {
    display: flex;
    gap: 0px 20px;
    padding: 10px;
}

.navbar .nav-menu .nav-link {
    font-family: var(--font-Inter);
    font-size: 1.2rem;
    padding: 8px 18px;
    border-radius: 3rem;
    font-weight: 500;
    color: #000;

    transition: all 0.4s ease;
}

.navbar .nav-menu .nav-link:hover {
    background-color: #a62e0341;
    padding: 12px 22px;
}